@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome</h1>
    <p>Searching for videos? We got you!</p>
    <a href="@Url.Action("Index", "YouTube")" class="btn btn-primary btn-lg mt-3">Start Searching</a>
</div>
